<!DOCTYPE html>
<html lang="en">
<head>

  <!--this is the title of the webpage-->
  <title> Curriculum Vitae</title>
  <link rel="icon" href="images/j4.png">
  <!--this is where the favicon is-->
    <link rel="stylesheet" type="text/css"  href="style.css">
<!--Script to use AngularJS-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#ff0000">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#ff0000">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#ff0000">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64376116-1', 'auto');
  ga('send', 'pageview');

</script>
<link rel="manifest" href="manifest.json">
<meta name="viewport" content="width=device-width, initial-scale=1"><meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>

</style>
</head>
<body>

<!--these will return you to the top of the page when you click the button in the html below-->
<a id="return"></a>
<a id="home"></a>
<div class="header">
  <!--<div id="title">

    <a href="index.html" id="name"> James Maurice Prendergast</a>
  </div>-->
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" aria-label="The Navigation bar that appears when on smaller devices" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <a class="navbar-brand" href="index.html" id="name"> James Maurice Prendergast</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <!--  <ul class="nav navbar-nav">
        <li><a href="index.html">Home</a></li>


      </ul>-->
      <ul class="nav navbar-nav navbar-right">

       <li><a href="index" id="cv_c">Curriculum Vitae</a></li>
        <li><a href="projects" id="p_c">Projects</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--this is id "headmenu that tells you where you are and give you a link towards my linkedin and my email-->
<div class="container-fluid text-center" id="info">

<center><font id="cv"><u>Curriculum Vitae</u></font></center>
<br/>

<p id="link2"> <b>   Email: </b> jprendergastbusiness@gmail.com </p>

<hr>

</div>
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-1 sidenav">

    </div>
    <div class="col-sm-9 text-left">



      <div id="mainmenu">

      <p></p>
  <a id="education"></a>

      <h2><center><b><u>Education</b></u></center></h2>
        <br></br>

      <b>    September 2013 – May 2017:</b>
      <br/>
      <b> Dublin Institute of Technology</b>
                 <b><center> BSc (Hons) Computer Science </center></b>

    <br/>

      <b>Degree Status:</b> Second Class Hons, Upper Division.

      <br></br>
      <b>Modules:</b>Advanced Databases, Advanced Security, Artificial Intelligence 1 and 2, Business Systems Intelligence, Cloud Computing, Rich Web Application and Spatial Databases.




      <br></br>
      <div class="dropdown">
   <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Past Modules:
   <span class="caret"></span></button>
   <ul class="dropdown-menu">
     Object Oriented Programming, Data Communications,
     Algorithms & Data Structures, Legal & Professional Issues, Human Computer Interaction,
     Programming, Databases 1, Mathematics 1 and 2, Operating Systems 1 and 2,
     Software Engineering 1 and 2, Algorithm & Design & Problem,
     Communications for Computer Technology, Program with Persistent Data, Web Development 1 and 2, Information Technological Fundamentals, Microprocessor Systems and
     Program Design.

   </ul>
 </div>

      <br></br>
       <b>September 2007 - 2013:</b>
       <br/>
       <b>Belvedere College SJ</b>
       <br></br>
       <b><center>Irish Leaving Certificate, 2013 (7 Hons)</center></b>
       <br/>
       <hr>
      <p></p>
      <a id="experience"></a>
      <p></p>
      <h2><center><b><u>Experience</b></u></center></h2>
      <br></br>



    <b>   February 2016 – October 2016:</b>
    <br/>
    <b>  SAP SSC (Ireland) Ltd. </b>
    <br/>
       <b><center>  Diploma Student Intern / Center of Expertise: Financials Advisor</center></b>
   <br/>
      •	Involved in the analysis of SAP customers’ software products to see where recommendations could be made on specific performance issues they raised.
   <br/>
      •	Devised detailed reports which outlined solutions to the issues customers were encountering on their servers. This involved knowing the fundamentals of Object Oriented Programming and database design.
   <br/>
      •	Developed outstanding communication skills to promote team building and to provide an open and constructive communication with the customer during and after delivery.
   <br/>
      •	Acted as a Support Advisor during the “GoLive Phase”, which was tailored to the individual needs of new and existing customers during the implementation of SAP software. My role was to monitor the system for immediate reaction in case of unforeseen incidents.
   <br/>
      •	SAP certified as a Support Engineer for SAP NetWeaver Application Server-Basics 1.0, Support Engineer SAP HANA 1.0 and Support Engineer for Workload Analysis Application server.
   <br/>
      •	Co-coordinator’s Report: “James has shown great commitment and dedication towards work”; “He is a quick learner and this was seen in the performance optimization services he has delivered on his own”.


  <!--    <div ng-app="" ng-init="ex=['Involved in the analysis of SAP customers’ software products to see where recommendations could be made on specific performance issues they raised.
','Devised detailed reports which outlined solutions to the issues customers were encountering on their servers. This involved knowing the fundamentals of Object Oriented Programming and database design.
', 'Developed outstanding communication skills to promote team building and to provide an open and constructive communication with the customer during and after delivery.
','Acted as a Support Advisor during the “GoLive Phase”, which was tailored to the individual needs of new and existing customers during the implementation of SAP software. My role was to monitor the system for immediate reaction in case of unforeseen incidents.
', 'SAP certified as a Support Engineer for SAP NetWeaver Application Server-Basics 1.0, Support Engineer SAP HANA 1.0 and Support Engineer for Workload Analysis Application server.
', 'Co-coordinator’s Report: “James has shown great commitment and dedication towards work”; “He is a quick learner and this was seen in the performance optimization services he has delivered on his own”.
']">
        <ul>
          <li style="font-size:14px" ng-repeat="y in ex">
            {{ y }}
          </li>
        </ul>
      </div>-->


           <br/>
              <br/>
      <b>February 2015 – December 2015:</b>
      <br/>
      <b>Castleknock Community College</b>
      <center><b>CoderDojo Mentor (programming club for young people)</b></center>
           <br/>
      •	As a mentor, I helped children aged 8-16 learn to code, build websites, create apps and games, and explore technology in a series of evening classes.
              <br/>
      •	Involved in explaining programming concepts and their implementation to young people who had little or no prior knowledge of programming.






      <hr>
     <p></p>
     <a id="volunteering"></a>
     <p></p>
     <h2><center><b><u>Volunteering</b></u></center></h2>

       <br></br>
        <b><center> Peer Tutoring</center></b>
        <br/>
       <b>January 2013 - July 2013:</b>
       <br/>
        <b>St Mary's Place Primary School</b>
      <br></br>

      In a classroom I would provide extra support to students who needed assistance in completing their class work.
      During lunchtime I helped to set up the sports equipment and supervised the students at play.

      <br/>
      <b>Employer Report -</b>“We thoroughly enjoyed having James with us. He is a lovely young man and
       worked very well with the kids”.
       <br></br>


      <b>January 2012 - December 2012:</b>
      <br/><b>O’Connell Primary School</b>
       <br></br>

       In this school I was engaged in helping children who had reading difficulties. This often involved assisting the
       children who had difficulty pronouncing words and encouraging the students to tackle words they had trouble expressing.

       <br/>
      <b> Employer Report -</b> "He was very easy to work with and very popular with the boys. His punctuality
       was impeccable and his help is much appreciated".
       <br></br>
       <hr>
      <p></p>
      <a id="skills"></a>
      <p></p>
      <h2><center><b><u>Skills</b></u></center></h2>
<br/>



  <div ng-app="" ng-init="skills=['Programming languages: C and Java, with familiarity in Python','Browser-based JavaScript and Linux-based development','Amazon Web Services (AWS) ecosystem',
  'Web frameworks such as Bootstrap and CMS such as WordPress','Web Services technologies such as XML, SOAP and AJAX', 'Core technologies including PHP, HTML5, CSS, JavaScript, JQuery, AngularJS',
  'Hosting dynamic web pages including LAMP stack applications','Relational databases such as MySQL or PostgreSQL and NoSQL databases such as MongoDB']">
    <b>Proficiency in the following techniques:</b>
    <ul>
      <li style="font-size:14px" ng-repeat="x in skills">
        {{ x }}
      </li>
    </ul>
  </div>

       <br/>
      <b> Communication -</b> Effective communicator developed through engaging in volunteering opportunities. I have prepared reports, delivered presentations in class and to societies and participated in  debates.

      <br></br>
      <b>Teamwork - </b> Works well independently or as part of a team. I have participated in team projects in college and in societies.
      <br></br>
      <b>Hard-Working and Motivated -</b> Enjoys managing several tasks simultaneously. I work with determination to meet deadlines and I appreciate the importance of feedback.


      <br></br>

      <hr>
     <p></p>
     <a id="interests"></a>
     <p></p>
     <h2><center><b><u>Interests</b></u></center></h2>
      <br/>

       I was a student volunteer with the St Vincent De Paul Society whose purpose is to serve the poor and disadvantaged. I was a leader of a Soup Run group. This involved preparing food and handing it out to homeless people
       who we encountered on the streets. We would ask how well they were keeping.
      <!--this inquired part can be left out of the cv-->

       <br></br>
      I was the Treasurer for the St Vincent De Paul Local Society for two years. This involved being responsible for the collecting and counting of money raised for the society.

       <br></br>
      I was awarded the Bronze Gaisce Award. This involved the completion of a number of activities over a total of 26 weeks such as a task that involved the community, participating in a physical recreation challenge, development of a personal skill and the undertaking of an adventurous journey.

       <br></br>
      My hobbies include filmography, photography, debating, web development and photoshop. I am interested in the advances of technology. I also have a keen interest in tennis and table tennis.




      </div>



    </div>


    <div class="col-sm-2 sidenav">

         <button type="button" id="button1i" class="btn btn-primary btn-block"><a href="#education" id="a_li">Education</a></button>


         <button type="button" id="button2i"  class="btn btn-primary btn-block"><a href="#experience" id="b_li">Experience</a></button>

         <button type="button" id="button3i"  class="btn btn-primary btn-block"><a href="#volunteering" id="c_li">Volunteering</a></button>

         <button type="button" id="button4i"  class="btn btn-primary btn-block"><a href="#skills" id="d_li">Skills</a></button>

                  <button type="button" id="button5i"  class="btn btn-primary btn-block"><a href="#interests" id="e_li">Interests</a></button>


    </div>
  </div>
</div>
<br/>

<!--this is the footer class that displays a copyright that the website belongs to me-->
<footer class="container-fluid text-center">
<div class="btn-group text-center" >

  <button type="button" class="btn btn-link"><a href="index.html" id="foot_bu_a">Curriculum Vitae</a></button>


  <button type="button"   class="btn btn-link"><a href="projects.html" id="foot_bu_b" >Projects</a></button>

  <button type="button"   class="btn btn-link"><a href="about.html" id="foot_bu_c" >About</a></button>

  <button type="button"   class="btn btn-link "><a href="feedback.html" id="foot_bu_d" >Feedback</a></button>



</div>

  <p id="foot01"></p>
</footer>

<script src="script.js"></script>
<!--PUT THIS WHEN YOU ARE DONE WITH THE PROJECT-->
<!--<script>
if('serviceWorker' in navigator) {
  navigator.serviceWorker
           .register('sw.js')
           .then(function() { console.log("Service Worker Registered"); });
}-->
</script>
</body>
</html>
