*{
padding: 0;
margin: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box
}

.header{

    background-color: -webkit-linear-gradient(red, blue); /* For Safari 5.1 to 6.0 */
    background-color: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 */
    background-color: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 */
 background-color:#FAFAFF;
}
 
 
 #title{

   	height: 100px;
 float:right;
      width: 100%;
	font-family:arial;
    background-color: -webkit-linear-gradient(red, blue); /* For Safari 5.1 to 6.0 */
    background-color: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 */
    background-color: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 */
   background-color:#FAFAFF;
}
 
#animate{
display:none;
}   



 #header2{
  border-radius: 10px;
 height:80px;
   width:100%;


    background-color: -webkit-linear-gradient(red, blue); /* For Safari 5.1 to 6.0 */
    background-color: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 */
    background-color: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4747DA,#5E5EDF); /* Standard syntax (must be last) */
}

body{
font-size:112.5%;
font-family:Times New Roman;
color: #white;
}

h2 {
    font-size: 30px;
}

 h3{
    font-size: 18px;
}

#sidemenu {
  float:left;
  width:15%;
 
}

#sidemenu2{
   padding-top: 0px;
  background-color:#FAFAFF;
  float:right;
 width:15%;
   ..border-top-style: inset;
 
}

#sidemenu3{
   padding-top: 0px;
  background-color:#FAFAFF;
  float:left;
 width:100%;
   ..border-top-style: inset;
 
}

.wrapper{
 font-size: 2.0 em;

 margin: 0 auto;
 width: 100%;
 background-color:#FAFAFF;
 }
 
  #abovefooter
{
font-size:112.5%;
font-family:Times New Roman;
background-color:#FAFAFF;
width:100%;
margin-bottom:10px;
}


 
.footer
{
font-size:112.5%;
font-family:Times New Roman;
background-color:#FAFAFF;
width:100%;
}

a:link {
    text-decoration: none;
	color:black;
}

a:visited {
    text-decoration: none;
	color:black;
}

#a:hover {
    text-decoration: underline;
}

#a:active {
    text-decoration: underline;
}

#headmenu{
  float: left;
   width:100%;
   font-size:80.5%
}


#mainmenu{
  float: left;
   width:100%;
   background-color:#FAFAFF;
   font-size:100.5%;
   padding-left:1px;
    padding-right:1px;
} 

#mainmenuproject{
  float: left;
   width:100%;
   background-color:yellow;
}


#slide{
width: 300px;
height:300px;
}

#link2{
font-size:100%;
}

#CVlink{
font-size:34px;
}
#Plink{
font-size:34px;

}

#cv{
font-size:30px;
}

#name{
font-size:40px;
}


#sidemenu{
  display: none;
}

#sidemenu2{
  width:100%;

}


#row1{
  
 
  display: none;
}
#row2{

  
  display: none;
}
#row3{

  display: none;
}
#row4{
  
  display: none;
}

#ok{
font-size:22px;
font-weight: bold;
}

#up{
margin-top:-25px;
width:60px;
 height:60px;
}


.toggle{
    display: none;  
}

#toggle{
  display: none;
}

#googleform{
width:102.5%; 
height:1200px;
}