*{
padding: 0;
margin: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box
}

.header{

 	height: 100px;
}
 
 #header2{
  border-radius: 10px;
 height:70px;
   width:100%;


    background-color: -webkit-linear-gradient(red, blue); /* For Safari 5.1 to 6.0 */
    background-color: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 */
    background-color: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4747DA,#5E5EDF); /* Standard syntax (must be last) */
}

 
 #title{

   	height: 100px;
 float:right;
      width: 90%;
	
    background-color: -webkit-linear-gradient(red, blue); /* For Safari 5.1 to 6.0 */
    background-color: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 */
    background-color: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, red); /* Standard syntax (must be last) */
}
 
#logo{
    width: 10%;
	height: 100px;
     float:left;
   
    background-color: red;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 4s;
}

body{
font-size:112.5%;
font-family:Times New Roman;
color: #white;
}


#sidemenu{
  float:left;
 width:15%;
 
}

.wrapper{
 font-size: 2.0 em;

 margin: 0 auto;
 width: 100%;
 background-color:white;
 }
 
 
  #abovefooter
{
font-size:112.5%;
font-family:Times New Roman;
background-color:blue;
color: #blue;
width:100%;
}


.footer
{
font-size:112.5%;
font-family:Times New Roman;
background-color:blue;
color: #blue;
width:100%;
}

#headmenu {
  float: left;
   width:100%;
     background-color: brown;
}


#mainmenu{
  float: left;
   width:85%;
   background-color:red;
}

#mainmenuproject{
  float: left;
   width:85%;
   background-color:yellow;
}


#slide{
width: 400px;
height:400px;
}


#link2{
font-size:100%;
}

#CVlink{
font-size:200%;
}
#Plink{
font-size:200%;
}

#name{
font-size:46px;
}