*{
padding: 0;
margin: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box
}

.header{


  
    background-color: -webkit-linear-gradient(red, blue); /* For Safari 5.1 to 6.0 */
    background-color: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 */
    background-color: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 */

	 background-color:#FAFAFF;
}
 

body{
font-size:112.5%;
font-family:Times New Roman;
color: #white;
}


#sidemenu{
  float:left;
 width:15%;
 
}

#sidemenu2{
   padding-top: 775px;
    margin-top: 25px;
	
  float:left;
 width:15%;
 
}

.wrapper{
 font-size: 2.0 em;
 margin: 0 auto;
 width: 100%;
 background-color:#FAFAFF;
 }
 
  #abovefooter
{
font-size:112.5%;
font-family:Times New Roman;
 background-color:#FAFAFF;
width:100%;
}
 
.footer
{
font-size:112.5%;
font-family:Times New Roman;
 background-color:#FAFAFF;
width:100%;
}

a:link {
    text-decoration: none;
	color:black;
}

a:visited {
    text-decoration: none;
	color:black;
}

#a:hover {
    text-decoration: underline;
}

#a:active {
    text-decoration: underline;
}

#headmenu {
  float: left;
   width:100%;
   font-size:50.5%
}


#mainmenu{
  float: left;
   width:85%;
   background-color:#FAFAFF;
}

#mainmenuproject{
  float: left;
   width:85%;
   background-color:yellow;
}

#important
{

width:15%;
padding-left:0px;
}

#slide{
width: 400px;
height:400px;
}

#link2{
font-size:200%;
}

#CVlink{
font-size:300%;
}
#Plink{
font-size:300%;
}

#name{
font-size:46px;
}

 li {
    list-style-type: none;
	font-size:100%;
	margin-top:18px;
	width:15%;
}


#quicklink{
 float:left;
 font-size:18px;
 margin-bottom:10px;
}

#blog{
float:left;
 font-size:18px;
}

#about{
float:left;
 font-size:18px;
}

#feedback{
float:left;
 font-size:18px;
}

#contact{
float:left;
 font-size:18px;
}




#blogimage{
float:left;
 margin-top:40px;
 width:115px;
 height:115px;
 margin-left:-10px
}


#aboutimage{
float:left;
 margin-top:50px;
 width:95px;
 height:95px;
}

#contactimage{
float:left;
 margin-top:50px;
 width:95px;
 height:95px;
}


#feedbackimage{
float:left;
 margin-top:50px;
 width:95px;
 height:95px;
}





#education{
font-size:90%;
}

#employment{
font-size:90%;
}

#skills{
font-size:90%;
}

#personalqualities{
font-size:90%;
}


#achievements{
font-size:90%;
}

#interests{
font-size:90%;
}