/* this is a css style for all the webpage */
*{
padding: 0;
margin: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box
}

/* this is a css style for the header class which include the id "animate" and "title" */
.header{
height: 100px;
}
 
 /*this is the css for the main title "James Maurice Prendergast"*/
#title{
height: 100px;
float:right;
width: 100%;

font-family:arial;
 
background-color:#FAFAFF;
}
 
/*this is the animation css for "JP" in the header*/ 
#animate{
display:none;
}   

/*this is the css for the navigation bar with curriculum vitae and projects*/
#header2{
border-radius: 10px;
height:80px;
width:100%;
background-color: -webkit-linear-gradient(#5E5EDF,#3366FF); /* For Safari 5.1 to 6.0 */
background-color: -o-linear-gradient(#5E5EDF,#3366FF); /* For Opera 11.1 to 12.0 */
background-color: -moz-linear-gradient(#5E5EDF,#3366FF); /* For Firefox 3.6 to 15 */
background: linear-gradient(#5E5EDF,#3366FF); /* Standard syntax (must be last) */
}

/*this is the css style for the body of the webpage*/
body{
font-size:112.5%;
font-family:Times New Roman;
color: #white;
}

/*this is for all h2 style in my webpages*/
h2 {
font-size: 30px;
}

/*this is for all h3 style in my webpages*/
h3{
font-size: 18px;
}

/*this is the css for sidemenu on the right that includes the longer padding*/
#sidemenu {
float:left;
width:15%;
}

/*this is the css that brings you to the top of the page*/
#sidemenu2{
padding-top: 0px;
background-color:#FAFAFF;
float:right;
width:15%; 
}

/*this is the return to the top of the page that takes 100% width on feedback,about */
#sidemenu3{
padding-top: 0px;
background-color:#FAFAFF;
float:left;
width:100%; 
}

/*this is the class that affects the overall look of the website*/
.wrapper{
font-size: 2.0 em;
margin: 0 auto;
width: 100%;
background-color:#FAFAFF;
}
 
 /*this is the css that has the bar that allows you to navigate to other pages at the bottom of the screen*/
#abovefooter{
font-size:112.5%;
font-family:Times New Roman;
background-color:#FAFAFF;
width:100%;
margin-bottom:10px;
}

/*this is the css where I keep all the all right reserved and copyright*/
.footer
{
font-size:112.5%;
font-family:Times New Roman;
background-color:#FAFAFF;
width:100%;
}

/*this is for all hyper links */
a:link {
text-decoration: none;
color:black;
}

/*this is for all hyper links that are visited*/
a:visited {
text-decoration: none;
color:black;
}

/*this is for the id "a" hyper link which has an underline when you hover it*/
#a:hover {
text-decoration: underline;
}

/*this is for the id "a" hyper link which has an underline when they are active*/
#a:active {
text-decoration: underline;
}

/*this is the css where I include this webpage header and email and linkedin details*/	
#headmenu{
float: left;
width:100%;
font-size:80.5%
}

/*this is the css where most of the body of text goes for index.hmtl*/
#mainmenu{
float: left;
width:100%;
background-color:#FAFAFF;
font-size:100.5%;
padding-left:1px;
padding-right:1px;
} 

/*this is the css where most of the body of text goes for project.hmtl*/
#mainmenuproject{
float: left;
width:100%;
background-color:#FAFAFF;
 padding-bottom:0px; 
}

/*this is the css for image slide in projects.html*/
#slide{
width: 300px;
height:300px;
}

/*this is the css for id that deals with contact and linkedin font size*/
#link2{
font-size:100%;
}

#cvtd{
padding-top:10px;
padding-bottom:20px
}

/*///////////////////////*/
#ptd{
padding-top:10px;
padding-bottom:20px
}


/*this is the css which deals with "curriculum vitae" navigation header font*/
#CVlink{

font-size:37px;
}

/*this is the css which deals with "projects" navigation header font*/
#Plink{
font-size:37px;
}

/*this is the css that deals with the different header of each webpage fontsize*/
#cv{
font-size:30px;
}

/* this is the css that deals the font size of "James Maurice Prendergast" */
#name{
font-size:40px;
}

/*this is the css for sidemenu on the right that includes the longer padding*/
#sidemenu{
display: none;
}

/*this is the css that brings you to the top of the page*/
#sidemenu2{
width:100%;
}

#sidemenu4{
width:100%;
}


/*this is a css table where the about link is stored*/
#row1{
display: none;
}

/*this is a css table where the feedback link is stored*/
#row2{
display: none;
}

/*this is a css table where the contact link is stored*/
#row3{
display: none;
}

/*this is a css table where the blog link is stored*/
#row4{
display: none;
}

/*this is the css for the font size of "return to the top of the page"*/
#ok{
font-size:22px;
font-weight: bold;
}

/*this is css id for the up arrow image for index and projects*/
#up{
margin-top:-25px;
width:60px;
height:60px;
}

/*this is the class that affects the main menu when it's clicked*/
.toggle{
display: none;  
}

/*this is for the toggle font box*/
#toggle{
display: none;
}

/*this is used for the google form height and width*/
#googleform{
width:102.5%; 
height:1200px;
}


/*this is the css for image slide in projects.html*/
#slide{
width: 390px;
height:300px;
border-radius: 10px;
}

#rightarrowslide{

top: 173px; 
right:20px;
}

#slider1_container2{

margin-left:0px;
overflow:none;
}

#slider1_container{

margin-left:0px;
}

#slider1_container1{

margin-left:0px;
}

/*this is the css for the website video in projects.html*/
#video1
{
display:none;
}

/*this is the css for the space shooter video in projects.html*/
#video2
{
display:none;
}

/*this is the css for the health app video in projects.html*/
#video3
{
display:none;
}