#headmenu {
  float: left;
  width:100%;
  font-size:80.5%;

  padding-bottom:5px;
  border-bottom-style: inset;
}

#cv{
font-size:30px;
}

#cvtd:hover {
background-color: #0099cc;
background: #0099cc;
border-radius:10px;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-nav{

  margin-left:400px;
}

@media screen and (max-width: 1200px) {
  .navbar-nav{
    margin-left:0px;
  }  
}



#foot_bu_a, #foot_bu_b, #foot_bu_c, #foot_bu_d{
color: white;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 10px;
}

@media screen and (max-width: 767px) {

  #foot_bu_a, #foot_bu_b, #foot_bu_c, #foot_bu_d{

  padding-left: 0px;
  padding-right: 0px;

  }
}


@media screen and (max-width: 400px) {

  #foot_bu_a, #foot_bu_b, #foot_bu_c, #foot_bu_d{

   font-size: 10px;

  }
}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;


}



#col-sm-2{
  height: 1450px;
}


.col-sm-2{
  max-width: 100% !important;
}

body{
font-family: 'Roboto Slab', serif;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;

}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    display: none;
    padding: 15px;
  }
  .row.content {height:auto;}
}

/* this is a css style for the header class which include the id "animate" and "title" */
.header{
  height: 10px;
}



#name{
  font-size:40px;
}

@media screen and (max-width: 560px) {
  #name {
    font-size: 28px;

  }
}



@media screen and (max-width: 410px) {
  #name {
    font-size: 22px;

  }
}

@media screen and (max-width: 360px) {
  #name {
    font-size: 20px;

  }
}

#a_li, #b_li, #c_li, #d_li, #e_li, #Todo_li_p, #Fetch_li_p, #bootstrap_li_p, #REST_li_p{
  color:white;
}

#a_li_p, #b_li_p, #c_li_p, #d_li_p, #Todo_li_p, #Fetch_li_p, #bootstrap_li_p, #REST_li_p{
  color:white;
}

#googleform{
width:100%;
height:1050px;
}

.view{
  height: 55px;
}

.whiteLink:visited{
  color: white;
}

.whiteLink:link{
  color: white;
}

#footer_left{

  padding-left: 0px
}

a {
  text-decoration: none !important;
}
/*this is for all hyper links */
a:link {
text-decoration: none;
color:black;
}

/*this is for all hyper links that are visited*/
a:visited {
text-decoration: none;
color:black;
}




*{
    font-family: 'Roboto Slab', serif;
}

#link2{
font-size:20px;
text-align: center;
}

@media screen and (max-width: 450px) {
#link2, #cv{
font-size:14px;
text-align: center;
}

#cv_c{
  font-size: 20px;
}

#p_c{
  font-size: 20px;
}
}

.btn.btn-primary.btn-block{
  font-size: 20px;
  margin-bottom: 10px;
}

li{
  padding: 5px;
  font-size:30px;

}

/*


llnefnsffs

esfesfes
esfesf
*/

/*this is the css that changes colour with the github repository table link*/
#table3:hover {
background-color: #0099cc;
background: #0099cc;
}

@media screen and (max-width: 1232px) {
  #button1p,#button2p,#button3p,#button4p,#button5p,#button6p,#button7p, #button8p{
font-size: 14px;
}
}

@media screen and (max-width: 950px) {
  #button1p,#button2p,#button3p,#button4p,#button5p,#button6p,#button7p, #button8p{
font-size: 11px;
}
}


@media screen and (max-width: 900px) {
  #button1i,#button2i,#button3i,#button4i, #button5i{
font-size: 13px;
}
}


#video1, #video2, #video3, #video4, #video_fetch, #video_todo, #video_bootstrap, #video_REST{
width:450px;
height: 250px;
margin: 0 auto;
}

@media screen and (max-width: 990px) {
#video1, #video2, #video3, #video4, #video_fetch, #video_todo, #video_bootstrap, #video_REST{
  width: 80%;
  margin: 0 auto;
}
}

/* #myCarousel, #myCarousel2, #myCarousel3, #myCarousel4 {
 float:left;
  width:350px;
}
*/
/*this helps for smaller screen sizes*/
/*@media screen and (max-width: 630px) {
  #myCarousel, #myCarousel2, #myCarousel3, #myCarousel4  {
    width: 350px;
  }
} */
