 li {
    list-style-type: none;
	ffont-size:24px;
		font-size:100%;
	margin-top:20px;
}


#important
{
width:15%;
padding-left:0px;
text-align:center;
}

#quicklink{
padding-left:0px;
 font-size:22px;
 
}

#blog{
padding-left:0px;
 font-size:22px;
}

#about{
padding-left:0px;
 font-size:22px;
}

#feedback{
padding-left:0px;
 font-size:22px;
}

#contact{
padding-left:0px;
 font-size:22px;
}


#blogimage{
 margin-top:40px;
 width:125px;
 height:125px;
}


#aboutimage{
 margin-top:50px;
 width:95px;
 height:95px;
}

#contactimage{

 margin-top:50px;
 width:95px;
 height:95px;
}


#feedbackimage{
 margin-top:50px;
 width:95px;
 height:95px;
}