/* this is a css style for all the webpage */
*{
padding: 0;
margin: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box
}

/* this is a css style for the header class */
.header{
height: 100px;
}
 
/*this is the css style for the body of the webpage*/
body{
font-size:112.5%;
font-family:Times New Roman;
color: #white;
}


/*this is the css for sidemenu on the right that includes the longer padding*/
#sidemenu{
float:left;
width:15%;
}

/*this is the css that brings you to the top of the page*/
#sidemenu2{
padding-top: 775px;
margin-top: 25px;
float:left;
width:15%;
}

/*this is the class that affects the overall look of the website*/
.wrapper{
 font-size: 2.0 em;
 margin: 0 auto;
 width: 100%;
 background-color:#FAFAFF;
 }
 
 /*this is the css that has the bar that allows you to navigate to other pages at the bottom of the screen*/
#abovefooter
{
font-size:112.5%;
font-family:Times New Roman;
background-color:#FAFAFF;
width:100%;
}

 /*this is the css where I keep all the all right reserved and copyright*/ 
.footer
{
font-size:112.5%;
font-family:Times New Roman;
background-color:#FAFAFF;
width:100%;
}

/*this is for all hyper links */
a:link {
text-decoration: none;
color:black;
}

/*this is for all hyper links that are visited*/
a:visited {
text-decoration: none;
color:black;
}

/*this is for the id "a" hyper link which has an underline when you hover it*/
#a:hover {
text-decoration: underline;
}

/*this is for the id "a" hyper link which has an underline when they are active*/
#a:active {
text-decoration: underline;
}

/*this is the css where I include this webpage header and email and linkedin details*/
#headmenu {
float: left;
width:100%;
font-size:50.5%
}

/*this is the css where most of the body of text goes for index.hmtl*/
#mainmenu{
float: left;
width:85%;
background-color:#FAFAFF;
}

/*this is the css where most of the body of text goes for project.hmtl*/
#mainmenuproject{
float: left;
width:85%;
}

/*this is the css which puts the table from the side menu that deals with padding*/
#important{
width:15%;
padding-left:0px;
}

/*this is the css for image slide in projects.html*/
#slide{
width: 400px;
height:400px;
}

/*this is the css for id that deals with contact and linkedin font size*/
#link2{
font-size:200%;
}

/*this is the css which deals with "curriculum vitae" navigation header font*/
#CVlink{
font-size:300%;
}

/*this is the css which deals with "projects" navigation header font*/
#Plink{
font-size:300%;
}

/* this is the css that deals the font size of "James Maurice Prendergast" */
#name{
font-size:46px;
}

/*this is for all the lists in my webpage*/
li {
list-style-type: none;
font-size:100%;
margin-top:18px;
width:15%;
}

/*this is for the title "quicklink" in the sidemenu*/
#quicklink{
 float:left;
 font-size:18px;
 margin-bottom:10px;
}

/*this is for the title "blog" in the sidemenu*/
#blog{
float:left;
 font-size:18px;
}

/*this is for the title "about" in the sidemenu*/
#about{
float:left;
font-size:18px;
}

/*this is for the title "feedback" in the sidemenu*/
#feedback{
float:left;
font-size:18px;
}

/*this is for the title "contact" in the sidemenu*/
#contact{
float:left;
font-size:18px;
}

/*this is for the "blog" image in the sidemenu*/
#blogimage{
float:left;
margin-top:40px;
width:115px;
height:115px;
margin-left:-10px
}

/*this is for the "about" image in the sidemenu*/
#aboutimage{
float:left;
margin-top:50px;
width:95px;
height:95px;
}

/*this is for the "contact" image in the sidemenu*/
#contactimage{
float:left;
margin-top:50px;
width:95px;
height:95px;
}

/*this is for the "feedback" image in the sidemenu*/
#feedbackimage{
float:left;
margin-top:50px;
width:95px;
height:95px;
}

/*this is the id for the "education" font for the hyper link*/
#education{
font-size:90%;
}

/*this is the id for the "employment" font for the hyper link*/
#employment{
font-size:90%;
}

/*this is the id for the "skills" font for the hyper link*/
#skills{
font-size:90%;
}

/*this is the id for the "personal qualities" font for the hyper link*/
#personalqualities{
font-size:90%;
}

/*this is the id for the "achievements" font for the hyper link*/
#achievements{
font-size:90%;
}

/*this is the id for the "interests" font for the hyper link*/
#interests{
font-size:90%;
}