/* this is a css style for all the webpage */
*{
padding: 0;
margin: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box
}

/* this is a css style for the header class */
.header{
  	height: 100px;
}

/*this is the css for the main title "James Maurice Prendergast"*/
#title{
   	height: 100px;
    float:right;
    width: 90%;
	
	
	font-family:merriweather;
	
	
	background-color:#FAFAFF;
	text-align: center;
}
 
/*this is the animation css for "JP" in the header*/
#animate{
    width: 10%;
	height: 100px;
     float:left;
}   


/*this is the css for the navigation bar with curriculum vitae and projects*/
#header2{
  border-radius: 10px;
  height:70px;
  width:100%;

    background-color: -webkit-linear-gradient(red, blue); /* For Safari 5.1 to 6.0 */
    background-color: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 */
    background-color: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5E5EDF,#3366FF); /* Standard syntax (must be last) */
  
}

/*this is the css where I include this webpage header and email and linkedin details*/	
#headmenu {
  float: left;
  width:100%;
  font-size:80.5%;
  background-color:#FAFAFF;
  padding-bottom:5px;
  border-bottom-style: inset;
}


/*this is the css style for the body of the webpage*/
body{
font-size:112.5%;
font-family:Times New Roman;
color: #white;
}

/*this is the css for sidemenu on the right that includes the longer padding*/
#sidemenu {
  float:right;
  width:15%;
  color:black;
  background-color: #F4F4F5;
  border-radius: 10px;
  padding: 5px;
       
	   border-style:solid;

  min-height:100%;
}


/*this is the css that brings you to the top of the page*/
#sidemenu2{
 padding-top: 180px;
 background-color:#FAFAFF;
 float:right;
 width:15%;
}

/*this is the return to the top of the page that takes 100% width on feedback,about */
#sidemenu3{
  padding-top: 0px;
  background-color:#FAFAFF;
  float:left;
  width:100%;
   ..border-top-style: inset;
 
}


/*this is the class that affects the overall look of the website*/
.wrapper{
 font-size: 2.0 em;
 padding: 0.4em;
 margin: 0 auto;
 width: 100%;
 background-color:#FAFAFF;
 }
 
 /*this is the css that has the bar that allows you to navigate to other pages at the bottom of the screen*/
 #abovefooter
{
font-size:112.5%;
font-family:Times New Roman;
background-color:#FAFAFF;
color:white;
width:100%;
margin-bottom:10px;
}
 
 /*this is the css where I keep all the all right reserved and copyright*/
.footer
{
font-size:112.5%;
font-family:Times New Roman;
background-color:#FAFAFF;
color: #white;
width:100%;
}

/*this is the css where most of the body of text goes for index.hmtl*/
#mainmenu{
  float: left;
  width:85%;
  background-color:#FAFAFF;
  font-size:130.5%;
  padding-right:30px;
  padding-left:30px;
}

/*this is the css where most of the body of text goes for project.hmtl*/
#mainmenuproject{

  float: left;
   width:85%;
   bbackground-color:yellow;
    background-color:#FAFAFF;
   padding-top:20px;
  
}

/*this is the css for image slide in projects.html*/
#slide{
width: 400px;
height:400px;
border-radius: 10px;
}


/*this is the css table for the above footer which has the bar to the other links*/
#table2{
border-radius: 10px;
border: 1px solid black;
background: linear-gradient(#5E5EDF,#3366FF); /* Standard syntax (must be last) */
}

/*this is the css table for the github repositary link*/
#table3{
background-color:white ;
border-radius: 10px;
border: 1px solid black;	
}

/*this is the css for the table for the navigation bar*/
#style2{
text-align: center;
}

/*this is the css table where I have the table for the Quick links */
#row0{ 
padding-bottom: 140px;
width:15%;
}

/*this is a css table where the about link is stored*/
#row1{  
padding-bottom: 40px;  
}

/*this is a css table where the feedback link is stored*/
#row2{
padding-top: 120px;
padding-bottom: 40px;  
}

/*this is a css table where the contact link is stored*/
#row3{
  padding-top: 120px;
  padding-bottom: 40px;
}

/*this is a css table where the blog link is stored*/
#row4{
  padding-top: 120px;
  padding-bottom: 115px;
}

/*this is a css table where the about link is stored with smaller padding in the other pages*/
#row1-2{
  padding-bottom: 30px;
}

/*this is a css table where the feedback link is stored with smaller padding in the other pages*/
#row2-2{
  padding-top: 50px;
  padding-bottom: 30px;  
}

/*this is a css table where the contact link is stored with smaller padding in the other pages*/
#row3-2{
  padding-top: 50px;
  padding-bottom: 30px;
}

/*this is a css table where the blog link is stored with smaller padding in the other pages*/
#row4-2{
  padding-top: 60px;
  padding-bottom: 65px;
}



/*this is the css that changes colour with the github repository table link*/
#table3:hover {
background-color: #0099cc;
background: #0099cc;
}

/*this is the css that changes colour with cv header table*/
#cvtd:hover {
background-color: #0099cc;
background: #0099cc;
}

/*this is the css that changes colour with project header table*/
#ptd:hover {
background-color: #0099cc;
background: #0099cc;
}

/*this is for all hyper links */
a:link {
text-decoration: none;
color:black;
}

/*this is for all hyper links that are visited*/
a:visited {
text-decoration: none;
color:black;
}

/*this is for the id "a" hyper link which has an underline when you hover it*/
#a:hover {
text-decoration: underline;	
}

/*this is for the id "a" hyper link which has an underline when they are active*/
#a:active {
text-decoration: underline;
}

/*this is the css for id that deals with contact and linkedin font size*/
#link2{
font-size:25px;
text-align: center;
}

/*this is the css which deals with "curriculum vitae" navigation header font*/
#CVlink{
font-size:57px;
}

/*this is the css which deals with "projects" navigation header font*/
#Plink{
font-size:57px;
}

/*this is the css that deals with the different header of each webpage fontsize*/
#cv{
font-size:30px;
}
 
/* this is the css that deals the font size of "James Maurice Prendergast" */
#name{
font-size:66px;
}

/*this is the css for the font size of "return to the top of the page"*/
#ok{
font-size:30px;
}

/*this is css id for the up arrow image for index and projects*/
#up{
width:100px;
 height:100px;
}

/*this is css id for the up arrow image for feedback,contact and about*/
#up2{
width:80px;
 height:80px;
}

/*this is the css which puts the table from the side menu that deals with padding*/
#important
{
width:15%;
padding-left:22px;
text-align:center;
}

/*this is for all the lists in my webpage*/
 li {
 list-style-type: none;
 font-size:100%;
 margin-top:20px;
}

/*this is for the title "quicklink" in the sidemenu*/
#quicklink{
 font-size:30px;
}

/*this is for the title "blog" in the sidemenu*/
#blog{
 font-size:30px;
}

/*this is for the title "about" in the sidemenu*/
#about{
 font-size:30px;
}

/*this is for the title "feedback" in the sidemenu*/
#feedback{
 font-size:30px;
}

/*this is for the title "contact" in the sidemenu*/
#contact{
 font-size:30px;
}

/*this is for the "blog" image in the sidemenu*/
#blogimage{
 margin-top:40px;
 width:125px;
 height:125px;
}

/*this is for the "about" image in the sidemenu*/
#aboutimage{
 margin-top:50px;
 width:95px;
 height:95px;
}

/*this is for the "contact" image in the sidemenu*/
#contactimage{
 margin-top:50px;
 width:95px;
 height:95px;
}

/*this is for the "feedback" image in the sidemenu*/
#feedbackimage{
 margin-top:50px;
 width:95px;
 height:95px;
}

/*this is the id for the "education" font for the hyper link*/
#education{
font-size:110%;
}

/*this is the id for the "employment" font for the hyper link*/
#employment{
font-size:110%;
}

/*this is the id for the "skills" font for the hyper link*/
#skills{
font-size:110%;
}

/*this is the id for the "personal qualities" font for the hyper link*/
#personalqualities{
font-size:110%;
}

/*this is the id for the "achievements" font for the hyper link*/
#achievements{
font-size:110%;
}

/*this is the id for the "interests" font for the hyper link*/
#interests{
font-size:110%;
}


/*this is the class that affects the main menu when it's clicked*/
.toggle{
      font-size: 30px;
      font-weight: bold;
}

/*this is for the toggle font box*/
#toggle{
width:15%;
color:black;
float:right;
font-size:20px;
border-radius: 10px;
padding: 5px;
border-style:solid;
background-color: #F4F4F5;
padding-top:10px;
padding-bottom:10px;
}

/*this is used for the google form height and width*/
#googleform{
width:100%; 
height:1050px;
}