*{
padding: 0;
margin: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box
}

.header{

  box-shadow: 10px 10px 5px grey;

  
    background-color: -webkit-linear-gradient(red, blue); /* For Safari 5.1 to 6.0 */
    background-color: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 */
    background-color: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#D8D8D8, #F0F0F0); /* Standard syntax (must be last) */
}
 

body{
font-size:112.5%;
font-family:Times New Roman;
color: #white;
}


#div1 {
  float:right;

 
}

.wrapper{
 font-size: 2.0 em;
 padding: 0.05em;
 margin: 0 auto;
 width: 50px;
 background-color:white;
 }
 
.footer
{
font-size:112.5%;
font-family:Times New Roman;
background-color:blue;
color: #blue;
}

#menu1 {
  float: left;
   width:100%;
}
